<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
    <display-name>MemoBox</display-name>
    <servlet>
    	<description>
    	</description>
    	<display-name>PeopleController</display-name>
    	<servlet-name>PeopleController</servlet-name>
    	<servlet-class>com.afm.controller.PeopleController</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>PeopleUpdateController</display-name>
    	<servlet-name>PeopleUpdateController</servlet-name>
    	<servlet-class>com.afm.controller.PeopleUpdateController</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>PeopleDeleteController</display-name>
    	<servlet-name>PeopleDeleteController</servlet-name>
    	<servlet-class>com.afm.controller.PeopleDeleteController</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>UserController</display-name>
    	<servlet-name>UserController</servlet-name>
    	<servlet-class>com.afm.controller.UserController</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>UserUpdateController</display-name>
    	<servlet-name>UserUpdateController</servlet-name>
    	<servlet-class>com.afm.controller.UserUpdateController</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>UserDeleteController</display-name>
    	<servlet-name>UserDeleteController</servlet-name>
    	<servlet-class>com.afm.controller.UserDeleteController</servlet-class>
    </servlet>
    <servlet-mapping>
    	<servlet-name>PeopleController</servlet-name>
    	<url-pattern>/PeopleController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>PeopleUpdateController</servlet-name>
    	<url-pattern>/PeopleUpdateController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>PeopleDeleteController</servlet-name>
    	<url-pattern>/PeopleDeleteController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>UserController</servlet-name>
    	<url-pattern>/UserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>UserUpdateController</servlet-name>
    	<url-pattern>/UserUpdateController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>UserDeleteController</servlet-name>
    	<url-pattern>/UserDeleteController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
        </welcome-file-list>
    </web-app>
